:root {
    --raisinBlack: #2E2C2F;
    --payneGray: #475B63;
    --cambridgeBlue: #729b79;
    --ashGray: #BACDB0;
    --lavenderBlush: #F3E8EE;
    --headerHeight: 5rem;
}

html {
    background-color: var(--ashGray);
}

body {
    font-family: "Lato", serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    height: fit-content;
    background-color: var(--ashGray);
}

header {
    background-color: var(--raisinBlack);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--headerHeight);
}

header h2 {
    margin: 0;
}

canvas {
    border: 0.15rem solid var(--raisinBlack);
}

#ui-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5rem;
}

#btnView {
    border: none;
    background-color: var(--cambridgeBlue);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#btnView:hover {
    transform: scale(1.05);
}